<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<head>

<style>
header{
  z-index: 10;

}
.ico{
  color:white;
  padding-left:2%;
font-size: 80%;
font-family:lobster;
}
//*{z-index:0;
position: fixed;}*/
.hi{
 box-shadow: 10px 10px 5px #888888;
  overflow: hidden !important;
height: 2% !important;}
.slidesjs-container{
height: 2% !important;
overflow: hidden !important;
}
#slides {
    margin-left: 12.5%;
        width: 75%;
    margin-top: 15px;
    box-shadow: 0px 8px 8px #888888;
    display: none;
  }

  
  #slides a:link,
  #slides a:visited {
    color: #333
  }

  #slides a:hover,
  #slides a:active {
    color: #9e2020
  }

  .navbar {
    overflow: hidden
  }
</style>
<!-- End SlidesJS Optional-->

<!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
<style>
  #slides {
    display: none
  }

  .container {
    margin: 0 auto;

  }

  /* For tablets & smart phones */
  @media (max-width: 767px) {
#slides{  margin-left: 0%;
    width: 100%;}
img{height: 100%;}
  }

  /* For smartphones */
  @media (max-width: 480px) {
  img{height: 100%;}
  #slides{  margin-left: 0%;
      width: 100%;}
  }

  /* For smaller displays like laptops */
  @media (min-width: 768px) and (max-width: 979px) {
  img{height: 100%;}
  }

  /* For larger displays */
  @media (min-width: 1200px) {
img{height: 100%;}

  }
</style>
<style>
body {margin:0;}

.topnav {

  overflow: hidden;
  background-color: #333;
 box-shadow: 0px 10px 5px #888888;
}

.topnav a {
  float: right;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .ori a {display:inline-flex; }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .ori a {display:inline-flex; }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
.ori{display: inline-flex;
color:white;}
</style>
</head>
<header>
  <div class="topnav" id="myTopnav">
    <div class="ori"><div style="color:white;font-family:lobster;"><a href="/">Pixel Dust</a></div>
</div>
    <a href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="about">About</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>


</header>
<body>
<div class="vac"></div>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

<div class="hi">
  <div id="slides">
    <img src="slide/img/<%= qs.files[1] %>" alt="Sayon Sen">
    <img src="slide/img/<%= qs.files[2] %>" alt="Sayon Sen">
    <img src="slide/img/<%= qs.files[3] %>" alt="Sayon Sen">
    <img src="slide/img/<%= qs.files[0] %>" alt="Sayon Sen">
  </div>
</div>
<div style="margin-top:10%;text-align:center;font-family:lobster; font-size:100%;">you Click, we Click...
  <p></p>Keeping the Moments Alive</div>
<!-- End SlidesJS Required: Start Slides -->

<!-- SlidesJS Required: Link to jQuery -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<!-- End SlidesJS Required -->

<!-- SlidesJS Required: Link to jquery.slides.js -->
<script src="js/jquery.slides.min.js"></script>
<!-- End SlidesJS Required -->

<!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
<script>
  $(function() {
    $('#slides').slidesjs({
      width: 940,
      height: 540,

      play: {
        active: false,
        auto: true,
        interval: 4000,
        swap: true
      },
       navigation: false,
       pagination: false,
        generatePagination: false
    });
  });
</script>

</body>

<div class="vac"></div>
<style>
/*{z-index:0;}*/
</style>
</html>
